<p class="h5-style text-justify">Program <strong>„UKE Cloud2020”</strong> umożliwia dostęp do dokumentów za pomocą przeglądarki internetowej.</p>
<p class="h5-style text-justify">Twórz składnice, udostępniaj pliki i foldery.</p>
<p class="h5-style text-justify">Teraz możesz mieć dostęp do zasobów w każdej chwili i gdziekolwiek jesteś</p>