<% if user_signed_in? %>
  <% policy(:archive).index? || policy(:archive).my_index? %>
    <li>
      <%= link_to archives_path do %>
        <span><%= archive_index_legend %></span>
      <% end %>
    </li>
  <% end %>
<% end %>
